<div class="w3-top">
  <div class="w3-bar w3-white w3-wide w3-padding w3-card-2">
    <a href="/" class="w3-bar-item w3-button"><b>avro</b>soft</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#company" class="w3-bar-item w3-button">Company</a>
      <a href="#products" class="w3-bar-item w3-button">Products</a>
      <a href="#services" class="w3-bar-item w3-button">Services</a>
      <a href="#contact" class="w3-bar-item w3-button">Contact</a>
    </div>
  </div>
</div>