<!DOCTYPE html>
<html>
<head>
  <title>{{ site.title }}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ root_url }}/assets/style.css">
</head>
<body>

<!-- Navbar (sit on top) -->
{% include menu.html %}

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="/assets/architecture2.jpg" alt="Architecture" width="1500" height="800">
  <div class="w3-display-middle w3-margin-top w3-center">
    <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>avro</b></span> <span class="w3-hide-small w3-text-light-grey">soft</span></h1>
  </div>
</header>

<!-- Page content -->
<div class="w3-content w3-padding" style="max-width:1564px">

{% for page in site.posts reversed %}
  {% capture id %}{{ page.id | remove:'/' | downcase }}{% endcapture %}
  <div id="{{id}}" class="section p-{{id}}">
    {% if page.icon %}
    <div class="subtlecircle sectiondivider imaged">
      <img src="{{page.icon}}" alt="section icon" />
      <h5 class="icon-title">{{ page.title }}</h5>
    </div>
    {% elsif page.fa-icon %}
    <div class="subtlecircle sectiondivider faicon">
      <span class="fa-stack">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-{{ page.fa-icon }} fa-stack-1x"></i>
      </span>
      <h5 class="icon-title">{{ page.title }}</h5>
    </div>
    {% endif %}
    <div class="container {{ page.style }}">
      {{ page.content }}
    </div>
  </div>
{% endfor %}

<!-- End page content -->
</div>

<!-- Footer -->
{% include footer.html %}

</body>
</html>
